.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 156, 135);
    padding: 1rem;
}

.faqs{
    width: 50rem;
    max-width: 100%;
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
}

h1{
    text-align: center;
}