.country {
    background-color: #34495e;
    color: #ffffff;
    display: flex;
    justify-content: start;
    padding: 2rem;
    align-items: center;
    border-radius: 1rem;
    transition: all 0.3s;
}

.country:hover{
    transform: scale(1.1);
}

.flag{
    width: 10rem;
    height: 7rem;
}

.btn {
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    background-color: orange;
    transition: all 0.3s;
}

.btn:hover{
    background-color: red;
    color: white;
}