.form{
    width: 50%;
    background-color: bisque;
    padding: 5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.form-field{
    margin: 1rem 0;
    display: flex;
}

.form-field label{
    flex-basis: 20%;
}

.form-field input{
    flex-basis: 80%;
    border-radius: 1rem;
    padding: 0.5rem;
}

.form-field textarea{
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.form button{
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 30%;
    padding: 1rem;
}

.form button:hover{
    background-color: orange;
    color: white;
}
