.todo{
    background-color: black;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.todo:hover{
    background-color: blue;
}

.todo p{
    opacity: 0.6;
}

.btn{
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}